

 <div class="column contents">

        <div class= "service_img_div" style="background-image:url(<%= asset_path "sky.jpg" %>)">
          <p>あなたらしく終えるための</br>
          お役立ちコラム</p>
        </div>
</div>

<div class= "columns">

  <h1>終活コラム</h1>

  <h3 class= "column_h3">終活とは"自分"を見つめ、</br>"今"をより良く生きる活動</h2>

<span class= "img_margin blur">
  <%= image_tag "family1.jpg", class: "img_size4" %>
</span>

<p>
「終わる」の”終”と、「活動」の”活”と書いて、
「終活（しゅうかつ）」。
今、話題の言葉なので、ご存知の方も多いと思います。
終活とは、平成21年に週刊朝日が造った言葉で、
当初は葬儀や墓など人生の終焉に向けての事前準備のことでしたが、
現在では「人生のエンディングを考えることを通じて
”自分”を見つめ、”今”をよりよく、自分らしく生きる活動」
のことを言います。</br>
では、自分を見つめ、自分らしく生きる活動とは、何でしょう？
人生の後半を趣味や生きがいを見つけて、
存分に謳歌することもひとつですが、
ここでは、誰にでもやってくる”死”について
「自分がどう考え」「どう行動するか」について紹介していきます。</br></p>

<hr class= "hr">



  <h3 class= "column_h3">死ぬことを考えることにより、</br>生きることを考える</h3>

<span class= "img_margin blur">
  <%= image_tag "family2.jpg", class: "img_size4" %>
</span>


<p>
最近では、葬儀や墓の準備をするだけではなく、
入棺体験や模擬葬儀体験などが、各葬儀社などでできるようになりました。
これも終活の一つです。自分がどんな葬儀をしたいかを考える体験にもありますが、
実際に体験した方々の話では、入棺体験の時、実際に棺に入り、
蓋が閉まった時、暗闇の中で「健康に注意しよう」「まだ死にたくない」
「〇〇〇をしておけば良かった」など、走馬灯のように色々と生きることを考えたそうです。</br>
私も体験したことがありますが、生きているうちに入棺してみて
模擬的に死を体験することにより、その感触をしり、
改めて生きることの大切さが感じられました。
一度、機会があれば体験してみるのも良いかと思います。
「これから残りの人生をどう生きるか」
「自分なりの終活とは」と、考えるよ良い機会になるのではないでしょうか。
</p>

<hr class= "hr">


  <h3 class= "column_h3">最後を自分で決める時代</h3>

<span class= "img_margin blur">
  <%= image_tag "flower.jpg", class: "img_size4" %>
</span>

  <p>
  現代では”死”について、縁起でもないから考えないという時代ではありません。昔は、死というものは地域で対応していましたが、それが家族で考えるようになり、夫婦の問題となり、今では「死の個人化」と言われる時代になりました。
その証拠として、「おひとり様」や「孤独死」という言葉が、世間では当たり前のように使われています。自分の死については、自分で考えなければいけない時代がやってきました。
  </p>

<hr class= "hr">

  <h3 class= "column_h3">日本はなぜ終活が盛んなのか？</br>その社会背景と事情とは？</h3>

<p>
WHO（世界保健機構）や国連の定義によると、</br>
</br>
◎65歳以上人口の割合が7％超で高齢化社会</br>
◎65歳以上人口の割合が14％超で高齢社会</br>
◎65歳以上人口の割合が21％超で超高齢社会</br>
</br>
とされています。日本は、少子高齢化が進行し、高齢化率は上昇し続け、平成25年の今年は高齢化率が25.2％。4人に一人が65歳以上、超高齢社会です。また、よく言われるシニア世代の年齢層とは諸説ありますが、私は45歳～65歳までをシニア世代、シルバー世代を65歳以上と考えています。しかし、最近の50歳代以上の人は活動的で若く、人生90年時代が普通とされている現在、高齢者の定義を見直すべきなのかもしれません。</br>
平成23年6月29日の国勢調査では、日本の世帯数5,092万8千世帯のうち、一人暮らしは1,588万世帯（総世帯に占める割合32.1％）、約1/3が単身世帯と言えます。そのうち、65歳以上は、457万世帯。このように、単身者の高齢者が増え続けているのが現状です。他人に迷惑をかけないように、または家族に迷惑をかけないようにと、自分が死んだ後の葬儀や墓の準備＝終活をする人が多く、今ではブームになっています。
  </p>

<hr class= "hr">

  <h3 class= "column_h3">人生の棚卸し</h3>

  <span class= "img_margin blur">
    <%= image_tag "clover.jpg", class: "img_size4" %>
  </span>
<p>
終活の第一歩として、まずは終活の目的を深く見つめてみましょう。</br>
</br>
?なぜ、終活をするのか？</br>
?なぜ、終活をしなくていけないのか？</br>
?自分なりの終活は、どうするか？</br>
</br>
実際に?～?を考える時の手段として、エンディングノートを活用するのもひとつです。
</br>
エンディングノートと言えば、人生の最終章を迎えるにあたり、自分の思いや希望、残しておくことなどを家族などに確実に伝えるためのノートのことです。しかし、このエンディングノートを未来のノートとして考え、「これから死ぬまでどう生きるか」を書き記すことをしてみませんか。書く様式や項目が決まっているわけではありません。</br>
例えば、幼い頃からどんなことがあったのかを書き出してみると、現在の自分という人間形成が見えてきます。疎遠になった人の名前を連ねるもよし、自分の財産をどうしたいかなど、これまで生きてきた人生のことやこれからどんな人生を過ごしたいか、もしも自分の墓を造るとしたら、墓碑銘は何を刻んでみたいか、家族に残しておきたい思いなど、思いついたことを書いてみましょう。エンディングノートをは、書き上げることが大切なのではなく、書きながら人生の棚卸しを考えるツールなのです。自分がどんな終活をしたいのかを見つけることができるでしょう。</br>
</br>
後悔のないよう、より良い人生を過ごすための”終活”をしましょう。
下の写真は、エンディングノートの一例です。沢山の種類がありますね。
</p>

<div class= "img_margin">
<%= image_tag "endingnotes.jpg", class: "img_size4" %>
</div>

</div>


<div class= "btn_position2">
        <% if user_signed_in? %>
          <%= link_to "マイページへ", "users/#{current_user.id}", method: :get, class: "btn btn-warning btn-lg" %>
        <% else %>
        <%= link_to "ユーザー登録する", new_user_registration_path, class: "emphasis_box", class: "btn btn-warning btn-lg" %>
        <% end %>
</div>



  </br>

<div class= "clearfix" style= "padding: 20px;">
<h3>終活参考商品</h3>
<%= image_tag "ponparemall.png", class: "img_size3 float_right" %>
</div>

<hr style= "margin: 0 0 20px 0; background-color: black">

  <div class= "scroll_div">
    <ul>
    <% @obj["itemInfoList"].sample(20).each do |i| %>
      <li><a href= <%= i["itemUrl"] %>><p>
        <%= i["itemName"] %></p></br>
      <img src= <%= i["itemImgInfoList"][0]["itemImgUrl"] %>></a></li>
    <% end %>
    </ul>
  </div>




<!-- <div>
<%= @obj["itemInfoList"].each do |i| %>
<a href= <%= i["itemUrl"] %>>
<%= i["itemName"] %></br>
<img src= <%= i["itemImgInfoList"][0]["itemImgUrl"] %>></a></br>
<% end %>
</div>

 -->

