

 <div class="column contents">

        <div class= "service_img_div">
          <p>あなたらしく終えるための</br>
          お役立ちコラム</p>
        </div>
</div>

  <h1>終活コラム</h1>

  コラム
  コラム</br>

<div class= "clearfix">
<h3>終活参考商品</h3>
<%= image_tag "ponparemall.png", class: "img_size3 float_right" %>
</div>

<hr style= "margin: 0 0 20px 0; background-color: black">

  <div class= "scroll_div">
    <ul>
    <% @obj["itemInfoList"].sample(20).each do |i| %>
      <li><a href= <%= i["itemUrl"] %>><p>
        <%= i["itemName"] %></p></br>
      <img src= <%= i["itemImgInfoList"][0]["itemImgUrl"] %>></a></li>
    <% end %>
    </ul>
  </div>




<!-- <div>
<%= @obj["itemInfoList"].each do |i| %>
<a href= <%= i["itemUrl"] %>>
<%= i["itemName"] %></br>
<img src= <%= i["itemImgInfoList"][0]["itemImgUrl"] %>></a></br>
<% end %>
</div>

 -->

