<div class="users_content">
<div class= "messageposts contents">

    <h1>残しているメッセージ</h1>

    <div class= "letter_index">
      <% current_user.messageposts.each do |messagepost| %>

      <a href= "/users/<%= current_user.id %>/messageposts/<%=messagepost.id %>">
        <div class="letter">
            <h3><%= messagepost.dear %> へ</h3>
            <hr color= "gray">
            <p class="letter_text"><%= messagepost.text %><p>
        </div>

      <% end %>
      </a>
    </div>



    <div class= "btn_position2">
      <a href="/users/<%= current_user.id %>/messageposts/new" class= "btn btn-primary btn-lg" style= "color:white;">メッセージを作成する</a>
    </div>

</div>
</div>