<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <%= wicked_pdf_stylesheet_link_tag "wickedpdf/cssstyle" %>
</head>



<body>
<!-- <p>test</p> -->
 <!-- <%= wicked_pdf_image_tag('bodyimage.png', {width: "680"})  %>
 -->

 <header>
 <div class= "clearfix">
    <h2 id= "emphasis_box">重要</h2>
  </div>
 </header>

 <h1>登録情報</h1>
  <table>
      <tr>
        <th style= "background-color:#404040">登録ID</th>
        <td>000E<%= current_user.id %></td>
      </tr>
      <tr>
      <th style= "background-color:#404040">登録メールアドレス</br>
      </th>
        <td><%= current_user.email %></td>
      </tr>
  </table>

  <table>
      <tr>
        <th>名前</th>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <th>カナ</th>
        <td><%= current_user.kana %> </td>
      </tr>
      <tr>
        <th>生年月日</th>
        <td><%= current_user.b_year %>年<%= current_user.b_month %>月<%= current_user.b_day %>日  </td>
      </tr>
      <tr>
        <th>性別</th>
        <td><%= current_user.get_sex %> </td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td>〒<%= current_user.postalcode1 %>-<%= current_user.postalcode2 %>  </td>
      <tr>
        <th>住所</th>
        <td><%= current_user.address %> </td>
      </tr>
  </table>

<!-- <footer>
 <%= yield %>
</footer> -->
</body>
</html>
