<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <%= wicked_pdf_stylesheet_link_tag asset_path("wickedpdf/cssstyle") %>
</head>



<body>
<!-- <p>test</p> -->
 <!-- <%= wicked_pdf_image_tag('bodyimage.png', {width: "680"})  %>
 -->

 <header>
 <div style= "content: "";
  clear: both;
  display: block;">

    <h2 style="padding: 10px 20px 10px 20px;
   border: 2px solid red;
   font: red;
   width: 10%;
   text-align: center;
   /*float: right;*/
   margin-left: auto;">重要</h2>
  </div>
 </header>

 <h1 style= "font-size: 24px;
  text-align: center;
  margin: 40px auto;">登録情報</h1>


  <table style= "
   font-size:14px;
   border:1px #CCCCCC;
   width: 70%;
   margin: 5px auto;
   ">
      <tr style="border: 1px solid #CCCCCC;
  padding:5px 8px;">
        <th style= "background-color:#777777; border: 1px solid #CCCCCC;
  padding:5px 8px;">登録ID</th>
        <td style="border: 1px solid #CCCCCC;
  padding:5px 8px;">000E<%= current_user.id %></td>
      </tr>
      <tr style="border: 1px solid #CCCCCC;
  padding:5px 8px;">
      <th style= "background-color:#777777; border: 1px solid #CCCCCC;
  padding:5px 8px;">登録Email</br>
      </th>
        <td style="border: 1px solid #CCCCCC;
  padding:5px 8px;"><%= current_user.email %></td>
      </tr>
  <!-- </table> -->

<!--   <table style= "font-size:14px;
   border:1px #CCCCCC;
   width: 70%;
   margin: 5px auto;"> -->
      <tr style="border: 1px solid #CCCCCC;
  padding:5px 8px;">
        <th style="border: 1px solid #CCCCCC;
  padding:5px 8px;">名前</th>
        <td style="border: 1px solid #CCCCCC;
  padding:5px 8px;"><%= current_user.name %></td>
      </tr>
      <tr style="border: 1px solid #CCCCCC;
  padding:5px 8px;">
        <th style="border: 1px solid #CCCCCC;
  padding:5px 8px;">カナ</th>
        <td style="border: 1px solid #CCCCCC;
  padding:5px 8px;"><%= current_user.kana %> </td>
      </tr>
      <tr style="border: 1px solid #CCCCCC;
  padding:5px 8px;">
        <th style="border: 1px solid #CCCCCC;
  padding:5px 8px;">生年月日</th>
        <td style="border: 1px solid #CCCCCC;
  padding:5px 8px;"><%= current_user.b_year %>年<%= current_user.b_month %>月<%= current_user.b_day %>日  </td>
      </tr>
      <tr style="border: 1px solid #CCCCCC;
  padding:5px 8px;">
        <th style="border: 1px solid #CCCCCC;
  padding:5px 8px;">性別</th>
        <td style="border: 1px solid #CCCCCC;
  padding:5px 8px;"><%= current_user.get_sex %> </td>
      </tr>
      <tr style="border: 1px solid #CCCCCC;
  padding:5px 8px;">
        <th style="border: 1px solid #CCCCCC;
  padding:5px 8px;">郵便番号</th>
        <td style="border: 1px solid #CCCCCC;
  padding:5px 8px;">〒<%= current_user.postalcode1 %>-<%= current_user.postalcode2 %>  </td>
      <tr style="border: 1px solid #CCCCCC;
  padding:5px 8px;">
        <th style="border: 1px solid #CCCCCC;
  padding:5px 8px;">住所</th>
        <td style="border: 1px solid #CCCCCC;
  padding:5px 8px;"><%= current_user.address %> </td>
      </tr>
  </table>

<!-- <footer>
 <%= yield %>
</footer> -->
</body>
</html>
