<div class="users_content">
<div class= "picture_index contents">

<h1>保存している写真</h1>

 <% current_user.pictures.each do |picture| %>

<div class= "pictures_index_img_div" style="background-image:url(<%= picture.portrait %>);" >
    <div>
    <p><%= picture.title %></p>
    </div>
    <div class= "delete_button">
    <%= link_to '削除', user_picture_path(current_user, picture), method: :delete%>
    </div>
</div>



  <!-- <div>
    <ul>
      <li><p><%= picture.title %></p></li>
      <li><img src="<%= picture.portrait %>" alt="写真" style= "width: 300px;"></li>
      <li><%= link_to '削除', user_picture_path(current_user, picture), method: :delete%></li>
    </ul>>
  <div> -->
<% end %>



<div class= "btn_position2">
      <a href="/users/<%= current_user.id %>/pictures/new", class= "btn btn-primary btn-lg">写真を保存する</a>
</div>

</div>
</div>