<div class="users_content">
<div class= "picture_index contents">

<h1>保存している写真</h1>




  <% current_user.pictures.each do |picture| %>
  <a href="/users/<%= current_user.id %>/pictures/<%= picture.id %>">
  <div class= "pictures_index_img_div" style="background-image:url(<%= picture.portrait %>);" >
      <div class= "picture_title" style= "color: white;">
        <p><%= picture.title %></p>
      </div>
      <div class= "delete_button">
      <%= link_to '削除', user_picture_path(current_user, picture), method: :delete %>
      </div>
  </div>
  </a>
  <% end %>



<div class= "btn_position2">
      <a href="/users/<%= current_user.id %>/pictures/new", class= "btn btn-primary btn-lg">写真を保存する</a>
</div>

</div>
</div>