<div class="users_content">


<div class= "picture_new contents">
    <%= form_for [@user, @picture] do |f| %>
        <div >
          <%= f.label :title, "タイトル" %></br>
          <%= f.text_field :title, placeholder: "タイトル", class: "input_box"%>
        </div>
        <div >
           <%= f.label :portrait, "写真" %></br>
           <%= f.file_field :portrait %>
        </div>
        <div>
          <%= f.submit "保存", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>
</div>