<div class= "endingform">
  <h1> Ending Form 修正</h1>
    <%= form_for [@user, @form] do |f| %>
        <div >
          <%= f.label :q1, "(1)葬儀の規模に関して" %><br>
          <%= f.radio_button :q1, 1%> <%= f.label :q1, "一般的な葬儀にしてほしい" %><br>
          <%= f.radio_button :q1, 2 %> <%= f.label :q1, "盛大にしてほしい" %><br>
          <%= f.radio_button :q1, 3 %> <%= f.label :q1, "家族葬など小規模なものにしてほしい" %><br>
          <%= f.radio_button :q1, 4 %> <%= f.label :q1, "家族葬など小規模なもの＋後日一般の方向けにお別れ会を開いてほしい" %><br>
          <%= f.radio_button :q1, 5 %> <%= f.label :q1, "葬儀はしなくて良い（火葬のみ）" %><br>
          <%= f.radio_button :q1, 6 %> <%= f.label :q1, "特に希望はないので、家族の判断で行ってほしい" %><br>
          <%= f.label :q1_d, "選択肢の詳細" %></br>
          <%= f.text_area :q1_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q2, "(2)葬儀の手配や会場に関して" %><br>
          <%= f.radio_button :q2, 1 %> <%= f.label :q2, "特に考えてないので、家族の判断で決めてほしい" %><br>
          <%= f.radio_button :q2, 2 %> <%= f.label :q2, "生前予約している" %><br>
          <%= f.radio_button :q2, 3 %> <%= f.label :q2, "予約など希望内容がある" %><br>
          <%= f.label :q2_d, "選択肢の詳細" %></br>
          <%= f.text_area :q2_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q3, "(3)葬儀のさいの宗教" %><br>
          <%= f.radio_button :q3, 1 %> <%= f.label :q3, "特に考えてないので、家族の判断で決めてほしい" %><br>
          <%= f.radio_button :q3, 2 %> <%= f.label :q3, "生前予約している" %><br>
          <%= f.radio_button :q3, 3 %> <%= f.label :q3, "予約など希望内容がある" %><br>
          <%= f.label :q3_d, "選択肢の詳細" %></br>
          <%= f.text_area :q3_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>


        <div >
          <%= f.label :q4, "(4)戒名・法名に関して" %><br>
          <%= f.radio_button :q4, 1 %> <%= f.label :q4, "戒名・法名をすでに授けられている" %><br>
          <%= f.radio_button :q4, 2 %> <%= f.label :q4, "まだ授けられていないが選定をお願いしたい人がいる" %><br>
          <%= f.radio_button :q4, 3 %> <%= f.label :q4, "標準的なランクの戒名・法名をお願いしたい" %><br>
          <%= f.radio_button :q4, 4 %> <%= f.label :q4, "戒名・法名はいらない" %><br>
          <%= f.radio_button :q4, 5 %> <%= f.label :q4, "家族の判断に任せたい" %><br>
          <%= f.label :q4_d, "選択肢の詳細" %></br>
          <%= f.text_area :q4_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q5, "(5)葬儀の費用に関して" %><br>
          <%= f.radio_button :q5, 1 %> <%= f.label :q5, "特に用意していない" %><br>
          <%= f.radio_button :q5, 2 %> <%= f.label :q5, "自分の財産・預金で賄ってほしい" %><br>
          <%= f.radio_button :q5, 3 %> <%= f.label :q5, "保険で用意している" %><br>
          <%= f.radio_button :q5, 4 %> <%= f.label :q5, "家族の判断に任せたい" %><br>
          <%= f.radio_button :q5, 5 %> <%= f.label :q5, "その他" %><br>
          <%= f.label :q5_d, "選択肢の詳細" %></br>
          <%= f.text_area :q5_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q6, "(6)喪主になってほしい人" %><br>
          <%= f.label :moshu_name, "名前" %>
          <%= f.text_field :moshu_name, placeholder: "名前" %></br>
          <%= f.label :moshu_kana, "カナ" %>
          <%= f.text_field :moshu_kana, placeholder: "カナ" %></br>
          <%= f.label :moshu_number, "電話番号" %>
          <%= f.text_field :moshu_number, placeholder: "電話番号" %></br>
        </div>

        <div >
          <%= f.label :q6, "(7)挨拶を取り仕切ってほしい人" %><br>
          <%= f.label :_name, "名前" %>
          <%= f.text_field :aisatsu_name, placeholder: "名前" %></br>
          <%= f.label :aisatsu_kana, "カナ" %>
          <%= f.text_field :aisatsu_kana, placeholder: "カナ" %></br>
          <%= f.label :aisatsu_number, "電話番号" %>
          <%= f.text_field :aisatsu_number, placeholder: "電話番号" %></br>
        </div>

        <div >
          <%= f.label :q8, "(8)香典について" %><br>
          <%= f.radio_button :q8, 1 %> <%= f.label :q8, "いただく" %><br>
          <%= f.radio_button :q8, 2 %> <%= f.label :q8, "辞退する" %><br>
          <%= f.radio_button :q8, 3 %> <%= f.label :q8, "家族の判断に任せる" %><br>
          <%= f.label :q8_d, "選択肢の詳細" %></br>
          <%= f.text_area :q8_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q9, "(9)葬儀に呼んで欲しくない人" %><br>
          <%= f.radio_button :q9, 1 %> <%= f.label :q9, "いない" %><br>
          <%= f.radio_button :q9, 2 %> <%= f.label :q9, "いる" %><br>
          <%= f.label :q9_d, "選択肢の詳細" %></br>
          <%= f.text_area :q9_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q10, "(10)葬儀で使ってほしい花" %><br>
          <%= f.radio_button :q10, 1 %> <%= f.label :q10, "特に希望なし" %><br>
          <%= f.radio_button :q10, 2 %> <%= f.label :q10, "希望あり" %><br>
          <%= f.label :q10_d, "選択肢の詳細" %></br>
          <%= f.text_area :q10_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q11, "(11)葬儀でかけてほしい音楽" %><br>
          <%= f.radio_button :q11, 1 %> <%= f.label :q11, "特に希望なし" %><br>
          <%= f.radio_button :q11, 2 %> <%= f.label :q11, "希望あり" %><br>
          <%= f.label :q11_d, "選択肢の詳細" %></br>
          <%= f.text_area :q11_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q21, "(12)葬儀においてほしいもの" %><br>
          <%= f.radio_button :q21, 1 %> <%= f.label :q21, "特に希望なし" %><br>
          <%= f.radio_button :q21, 2 %> <%= f.label :q21, "希望あり" %><br>
          <%= f.label :q21_d, "選択肢の詳細" %></br>
          <%= f.text_area :q21_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q22, "(13)棺に入れてほしいもの" %><br>
          <%= f.radio_button :q22, 1 %> <%= f.label :q22, "特に希望なし" %><br>
          <%= f.radio_button :q22, 2 %> <%= f.label :q22, "希望あり" %><br>
          <%= f.label :q22_d, "選択肢の詳細" %></br>
          <%= f.text_area :q22_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q12, "(14)葬儀時や納棺時の服装" %><br>
          <%= f.radio_button :q12, 1 %> <%= f.label :q12, "特に希望なし" %><br>
          <%= f.radio_button :q12, 2 %> <%= f.label :q12, "希望あり" %><br>
          <%= f.label :q12_d, "選択肢の詳細" %></br>
          <%= f.text_area :q12_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

         <div >
          <%= f.label :q13, "(15)死亡通知に関して" %><br>
          <%= f.radio_button :q13, 1 %> <%= f.label :q13, "特に用意していないので、家族の判断に任せたい" %><br>
          <%= f.radio_button :q13, 2 %> <%= f.label :q13, "自身の死亡通知を用意してある" %><br>
          <%= f.label :q13_d, "選択肢の詳細" %></br>
          <%= f.text_area :q13_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q14_d, "(16)死亡通知書を送ってほしい人" %><br>
          <%= f.text_area :q14_d, placeholder: "名前/住所/連絡先", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q15, "(17)葬儀参列者へのメッセージ" %><br>
          <%= f.radio_button :q15, 1 %> <%= f.label :q15, "特に用意していない" %><br>
          <%= f.radio_button :q15, 2 %> <%= f.label :q15, "用意してあるので、それをつかってほしい" %><br>
          <%= f.label :q15_d, "選択肢の詳細" %></br>
          <%= f.text_area :q15_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q16, "(18)会葬御礼に関して" %><br>
          <%= f.radio_button :q16, 1 %> <%= f.label :q16, "特に用意していない" %><br>
          <%= f.radio_button :q16, 2 %> <%= f.label :q16, "希望あり" %><br>
          <%= f.label :q16_d, "選択肢の詳細" %></br>
          <%= f.text_area :q16_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q17, "(19)納骨に関して" %><br>
          <%= f.radio_button :q17, 1 %> <%= f.label :q17, "特に用意はしておらず、家族の判断に任せたい" %><br>
          <%= f.radio_button :q17, 2 %> <%= f.label :q17, "先祖代々のお墓に納骨してほしい" %><br>
          <%= f.radio_button :q17, 3 %> <%= f.label :q17, "生前に用意しているお墓に納骨してほしい" %><br>
          <%= f.radio_button :q17, 4 %> <%= f.label :q17, "お墓を購入して納骨してもらいたい" %><br>
          <%= f.radio_button :q17, 5 %> <%= f.label :q17, "合祀墓に納骨してもらいたい" %><br>
          <%= f.radio_button :q17, 6 %> <%= f.label :q17, "お墓はいらない" %><br>
          <%= f.radio_button :q17, 7 %> <%= f.label :q17, "自宅に置いてほしい" %><br>
          <%= f.radio_button :q17, 8 %> <%= f.label :q17, "散骨してほしい" %><br>
          <%= f.radio_button :q17, 9 %> <%= f.label :q17, "お骨の一部を加工して、家族の身近なところに置いてほしい" %><br>
          <%= f.radio_button :q17, 10 %> <%= f.label :q17, "その他" %><br>
          <%= f.label :q17_d, "選択肢の詳細" %></br>
          <%= f.text_area :q17_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q18, "(20)納骨費用に関して" %><br>
          <%= f.radio_button :q18, 1 %> <%= f.label :q18, "特に用意していない" %><br>
          <%= f.radio_button :q18, 2 %> <%= f.label :q18, "自分の財産・預金で賄ってほしい" %><br>
          <%= f.radio_button :q18, 3 %> <%= f.label :q18, "保険で用意している" %><br>
          <%= f.radio_button :q18, 4 %> <%= f.label :q18, "家族の判断に任せたい" %><br>
          <%= f.radio_button :q18, 5 %> <%= f.label :q18, "その他" %><br>
          <%= f.label :q18_d, "選択肢の詳細" %></br>
          <%= f.text_area :q18_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q19, "(21)供養・法要（法事）に関して" %><br>
          <%= f.radio_button :q19, 1 %> <%= f.label :q19, "供養・年回法要（法事）を普通に行ってほしい" %><br>
          <%= f.radio_button :q19, 2 %> <%= f.label :q19, "あまりお金をかけずに、家族の判断で行ってほしい" %><br>
          <%= f.radio_button :q19, 3 %> <%= f.label :q19, "永代供養とし、供養・年回法要（法事）は行わなくて良い" %><br>
          <%= f.radio_button :q19, 4 %> <%= f.label :q19, "永代供養だが、小規模でいいので供養・年回法要（法事）を行ってほしい" %><br>
          <%= f.radio_button :q19, 5 %> <%= f.label :q19, "その他" %><br>
          <%= f.label :q19_d, "選択肢の詳細" %></br>
          <%= f.text_area :q19_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :q20, "(22)法要の費用に関して" %><br>
          <%= f.radio_button :q20, 1 %> <%= f.label :q20, "特に用意していない" %><br>
          <%= f.radio_button :q20, 2 %> <%= f.label :q20, "自分の財産から、法事用に取り分けてほしい" %><br>
          <%= f.radio_button :q20, 3 %> <%= f.label :q20, "全て家族の判断に任せたい" %><br>
          <%= f.radio_button :q20, 4 %> <%= f.label :q20, "その他" %><br>
          <%= f.label :q20_d, "選択肢の詳細" %></br>
          <%= f.text_area :q20_d, placeholder: "選択肢の詳細", class: "detail_box detail_box_size" %>
        </div>

        <div >
          <%= f.label :requests, "(23)その他上記以外の希望" %><br>
          <%= f.text_area :requests, placeholder: "詳細", class: "detail_box detail_box_size" %>
        </div>


        <div>
          <%= f.submit "更新", class: "btn btn-primary btn-lg" %>
        </div>
    <% end %>
</div>