<!DOCTYPE html>
<html>


<head>
  <title>Endingnote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">



  <!-- <script type="text/javascript" src="jquery-1.10.2.js"></script> -->
<!--   <script type="text/javascript" src="jquery.touchSwipe.js"></script>
  <script type="text/javascript" src="jquery.horizonScroll.js"></script>
 -->
</head>


<body>

    <header>

    <div class= "clearfix">
<a href="/" style= "float:left;">Endingnote</a>

      <div class= "float_right header_div">
          <ul>
           <% if user_signed_in? %>
              <!-- <li>
                <%= current_user.name %>
              </li> -->
              <li>
                <a href="/users/<%= current_user.id %>", class= "emphasis_box">My Page</a>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "emphasis_box" %>
              </li>

            <% else %>
              <li>
              <%= link_to "ログイン", new_user_session_path, class: "emphasis_box"  %>
              </li>
              <li>
              <%= link_to "新規登録", new_user_registration_path, class: "emphasis_box" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    <div class= "clearfix">
      <div class= "float_right header_div">
          <ul>
              <li><a href="/service_introduction">Endingnoteとは</a></li>
              <li><span style="margin-right: 1em;"></span>/<span style="margin-right: 1em;"></span><a href="/service_guide">終活コラム</a></li>
              <!-- <li><span style="margin-right: 1em;"></span>/<span style="margin-right: 1em;"></span><a href="#">その他</a></li> -->
              <li><span style="margin-right: 1em;"></span>/<span style="margin-right: 1em;"></span><a href="http://www.recruit-mp.co.jp/company/data.html">Contact</a></li>
          </ul>
      </div>
    </div>

    </header>


  <%= yield %>


<!-- <footer>

      <div class= "clearfix">
          <ul>
              <li><a href="/service_introduction">Endingnoteとは</a></li>
              <li><span style="margin-right: 1em;"></span>/<span style="margin-right: 1em;"></span><a href="/service_guide">サービスのご案内</a></li>
              <li><span style="margin-right: 1em;"></span>/<span style="margin-right: 1em;"></span><a href="#">その他</a></li>
              <li><span style="margin-right: 1em;"></span>/<span style="margin-right: 1em;"></span><a href="#">Contact</a></li>
          </ul>
      </div>

      <div>
        <p>Endingnoteは株式会社リクルートマーケティングパートナーズが運営する終活サービスです。</p>
      </div>

     <div class= "footer_adj1">
        <p>Copyright © 2016 Endingnote All Rights Reserved</p>
     </div>


</footer>

 -->
</body>

</html>
