<!DOCTYPE html>
<html>

<div id= "wrap">
<head>
  <title>Endingnote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">




  <!-- <script type="text/javascript" src="jquery-1.10.2.js"></script> -->
<!--   <script type="text/javascript" src="jquery.touchSwipe.js"></script>
  <script type="text/javascript" src="jquery.horizonScroll.js"></script>
 -->
</head>


<body>


<div class= "top">

    <header>

    <div>

    <a href="/"><%= image_tag "logo.png", class: "logo_size"%></a>




      <div class= "float_right div_size">

        <div class= "clearfix">
          <ul class= "float_right" style= "margin: 15px 10px 0 0;">
           <% if user_signed_in? %>
              <!-- <li>
                <%= current_user.name %>
              </li> -->
              <li>
                <a href="/users/<%= current_user.id %>" data-no-turbolink="1" class= "emphasis_box">My Page</a><span style="margin-right: 1em;"></span>
              </li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "emphasis_box"%>
              </li>

            <% else %>
              <li>
              <%= link_to "ログイン", new_user_session_path, class: "emphasis_box" %><span style="margin-right: 1em;"></span>
              <li>
              </li>
              <%= link_to "新規登録", new_user_registration_path, class: "emphasis_box" %>
              </li>
            <% end %>
          </ul>
        </div>



            <ul class= "float_right" style= "margin: 10px 10px 0 0;">
              <li><a href="/service_introduction">サービス概要</a></li>
              <li><span style="margin-right: 0.5em;"></span>|<span style="margin-right: 0.5em;"></span><a href="/column">コラム</a></li>
                <!-- <li><span style="margin-right: 1em;"></span>/<span style="margin-right: 1em;"></span><a href="#">その他</a></li> -->
                <li><span style="margin-right: 0.5em;"></span>|<span style="margin-right: 0.5em;"></span><a href="/bereaved_family" class="color_red">遺族の方へ</a></li>
            </ul>
      </div>

    </header>

<div id= "content">
  <%= yield %>
</div>

 <footer id= "footer">

      <div class= "clearfix" style= "width: 350px;">
          <ul>
              <li><a href="/service_introduction">サービス概要</a></li>
              <li><span style="margin-right: 1em;"></span>/<span style="margin-right: 1em;"></span><a href="/column">コラム</a></li>
              <li><span style="margin-right: 1em;"></span>/<span style="margin-right: 1em;"></span><a href="http://www.recruit-mp.co.jp/company/data.html">会社概要</a></li>
          </ul>
      </div>

      <div>
      <p style= "font-size: 12px; color: black;">MyEndingは株式会社リクルートマーケティングパートナーズが</br>運営する終活サービスです。</p>
      </div>

     <div class= "footer_adj1">
        <p style= "font-size: 12px; color: black;">Copyright © 2016 Endingnote All Rights Reserved</p>
     </div>


   </footer>
 </div>




</body>

</html>
