<!DOCTYPE html>
<html>
<head>
  <title>Endingnote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">


<!-- 以下プログレスバーのための記述 -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Progress Bar</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>



<body>
  <header class= "mypage_header">

    <div class= "clearfix">
      <div class= "main">
        <div style="margin-top: 15px; float:right;">
            <ul>
                <li>
                  <a href="/users/<%= current_user.id %>"> <%= current_user.name %> さま</a><span style="margin-right: 1em;"></span>
                </li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "emphasis_box2" %>
                </li>
            </ul>
        </div>
      </div>


<nav>
  <ul>
     <!--  <a href="/users/<%= current_user.id %>" class= "selected"><li>Home</li></a> -->

      <%= link_to "/users/#{current_user.id}", method: :get do %>
        <li class= "test tabs tab1">Home</li>
      <% end %>

      <%= link_to "/users/#{current_user.id}/pictures", method: :get do%>
        <li class= "tabs tab2">写真</li>
      <% end %>


      <% if current_user.form.present? %>
      <%= link_to "/users/#{current_user.id}/form", method: :get do%>
      <li class= "tabs tab3">Form</li><% end %>
      <% else %>
      <%= link_to "/users/#{current_user.id}/form/new", method: :get do%>
      <li class= "tabs tab3">Form</li><% end %>
      <% end %>

      <%= link_to "/users/#{current_user.id}/messageposts", method: :get do%>
      <li class= "tabs tab4">メッセージ</li><% end %>
  </ul>
</nav>

</div>

</header>








  <%= yield %>


</body>

</html>
