<!DOCTYPE html>
<html>
<head>
  <title>Endingnote</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>



<body>
  <header>
    <h1 class='inline'><%= current_user.name %> <span>さんのマイページ</span></h1>

    <% if user_signed_in? %>

    <ul class='float_right'>
      <li class='li_float_left'>
        <%= current_user.name %>
      </li>
      <li class='li_float_left'>
        <a href="/users/<%= current_user.id %>">マイページ</a>
      </li>
      <li class='li_float_left'>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    </ul>

    <% else %>
    <ul class='float_right'>
      <li class='li_float_left'>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
    <li class='li_float_left'>
      <%= link_to "新規登録", new_user_registration_path %>
    </li>
    </ul>
    <% end %>

    <div class="navbar">
      <ul class='float_right'>
        <li class='li_float_left'><a href="/users/<%= current_user.id %>/pictures">写真UPLOAD</a></li>
        <li class='li_float_left'><a href="#">Ending info</a></li>
        <li class='li_float_left'><a href="/users/<%= current_user.id %>/messageposts">Message</a></li>
      </ul>
    </div>

  </header>

<%= yield %>


    <footer>
      <ul>
        <li class='li_float_left'><a href="/">トップページ</a></li>
        <li class='li_float_left'><a href="/service_introduction">Endingnoteとは</a></li>
        <li class='li_float_left'><a href="/service_guide">サービスのご案内</a></li>
        <li class='li_float_left'>その他１</li>
        <li class='li_float_left'>その他２</li>
        <li class='li_float_left'>その他３</li>
      </ul></br>
      <p class='footer_letter'>
        Copyright (c) 2016 Endingnote All Rights Reserved
      </p>
    </footer>

</body>

</html>
